.loginCont {
    display: flex;
    flex-direction: row;
    margin: 5% 0;
}

.advspace {
    width: 30%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.signbtns {
    display: flex;
    justify-content: center;
}

.signUpForm {
    width: 100%;
    padding: 6%;
}

.signUpForm h4 {
    text-align: center;
}